* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  margin: 3vh;
}

body {
  margin: 0;
   background-color:#EAE2D7;
}

button:focus {
  outline: none;
}

header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  background: #81ad83;
}

header h1 {
  margin: 0;
  color: white;
  font-size: 1.5rem;
}

header button {
  font: inherit;
  margin: 0 auto;
  padding: 1rem 10rem 1rem 10rem;
  background: #415cd6;
  border: 1px solid #ebebeb;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

header button:hover,
header button:active {
  background: #f3cc4b;
  border-color: #f3cc4b;
  color: #995200;
}

label {
  font-weight: bold;
  margin: 0.5rem 0;
  color: #464646;
}

input {
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.4rem 0.2rem;
  color: #383838;
}
input:focus {
  outline: none;
  background: #fff1c4;
}
/* Era un select que no se si pondre */
select {
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.4rem 0.2rem;
  color: #383838;
}
select:focus {
  outline: none;
  background: #fff1c4;
}
/* Era un select que no se si pondre */



.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #00329e;
  background: #00329e;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  margin: 0 0.5rem;
}

.btn:hover,
.btn:active {
  background: #f67722;
  border-color: #f67722;
}

.btn--passive {
  color: #00329e;
  background: transparent;
  border: none;
  box-shadow: none;
}

.btn--passive:hover,
.btn--passive:active {
  background: #aec6f8;
}
/* /// esto se usara parA los botones Mas adelante  */
  .btn--danger {
  background: #d30808;
  color: white;
  border-color: #d30808;
}

.btn--danger:hover,
.btn--danger:active {
  background: #ff3217;
  border-color: #ff3217;
}
/* /// esto se usara parA los botones Mas adelante  */
.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.modal {
  position: fixed; 
  z-index: 100;
  width: 80%;
  top: 30vh;
  left: 10%;
  display: none;
}

.modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.modal .modal__title {
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #9e000d;
  background: #9e0008;
  color: white;
  border-radius: 10px 10px 0 0;
}

.modal .modal__content {
  padding: 1rem;
}

.modal .modal__actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.event-element {
  margin: 1rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  display: flex;
}

.event-element h2,
.event-element p {
  font-size: 1rem;
  margin: 0;
}

.event-element h2 {
  color: #383838;
  margin-bottom: 1rem;
}

.event-element p {
  color: white;
  display: inline;
  line-height: 30pt;
  background: #81ad83;
  padding: 0.25rem 1rem;
  border-radius: 15px;
}
.event-element button {
  margin-left: 2rem;
  font: inherit;
  padding: 0.5rem 1rem;
  background: #81ad83;
  border: 1px solid #ebebeb;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.event-element button:hover,
.event-element button:active {
  background: #f3cc4b;
  border-color: #f3cc4b;
  color: #995200;
}


.event-element__image {
  flex: 1;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.event-element__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.event-element__info {
  flex: 2;
  padding: 1rem;
}

#entry-text {
  width: 40rem;
  margin: 2rem auto;
  max-width: 80%;
  padding: 1rem;
}

#entry-text p {
  font-size: 1.5rem;
  text-align: center;
}

#event-list {
  list-style: none;
  width: 40rem;
  max-width: 90%;
  margin: 1rem auto;
  padding: 0;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

#add-modal .modal__content {
  display: flex;
  flex-direction: column;
}

/* Tamaño del FORM */
@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}
/* MOVIMIENTO DEL FORM EFECTO */
@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}


/*NAVBAR*/

.nav-bar{
    height: 70vh;
    display: flex;
}

.info{
    display:relative;
    margin-top: 10vh;
}
.nav-bar h2{  
    color:black;
    margin-top: -4vh;
    font-size:3vw;
}

.logo{
    margin-top: -7vh;
    font-family: 'Bebas Neue', cursive;
    font-size: 4vw;
}
.logotipo{
    text-align: center;
    padding-right: 100vh;
    font-family: 'Bebas Neue', cursive;
    font-size: 4vw;
    color:black;
    
}
.logotipo img{
    width: 40vh;
}
.logotipo a{
    color: inherit;
    text-decoration: none;
}



/* BANNER*/
.CompletBanner{
    display: flex;
}
.tituloBanner{
    position: absolute; 

}
.tituloBanner h2{   
    color:white;
    padding-top: 400px;
    padding-left: 300px;
    font-size: 7vh;
}
.banner{
    background-image: url("https://images.unsplash.com/photo-1532634922-8fe0b757fb13?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1172&q=80");
    height: 300px;
    width:100%;
    padding: 300px 100px;
    background-repeat: no-repeat;
  text-align: center;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.banner:before {
  content:'';
  position: absolute;
    top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
}
/* final BANNER*/


/* Imagenes de bebidas Inicio*/
.variedad h2{
    color:black;
    font-family: 'Bebas Neue', cursive;
    margin-left:7vh;
    font-size: 3rem;

}
.grid-container{
    place-items: center;
    margin-top: 10vh;
    display: grid;
    grid-template-rows: 4fr 4fr;
    grid-template-columns: 4fr 4fr 4fr;
    column-gap: 1em;
    row-gap: 2em;
}
.grid-item{
    /* border: 2px solid #000; */
    width: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10%;
    height: 100%;
}

/* FIN Imagenes de bebidas Inicio*/

footer p {
    /* margin-top: 10vh; */
    font-size: 1vw;
}
.fa-phone{
    color:black;
}

